# Empty CSS file for your own CSS

.abs-center {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}
header.container nav.navbar{
    background:#28bfa5;
}
header.container div.cabecera{
    background:var(--blanco);
    color:#28bfa5;
}

.form {
  width: 450px;
}
a{
  color:var(--negro);
  text-decoration:none;
}
a:hover {
  color: var(--azul-hover);
}
.logo{
border-radius:50%;
}
table{

  width: 100%;
  border-collapse: collapse;
  border: 3px solid purple;
  text:align-center;
  margin:2rem;
}

thead th:nth-child(1) {
  width: 30%;
}

thead th:nth-child(2) {
  width: 20%;
}

thead th:nth-child(3) {
  width: 15%;
}

thead th:nth-child(4) {
  width: 35%;
}

th, td {
  padding: 20px;
  }

}
/* typography */

html {
  height: 100%;

  font-family: 'helvetica neue', helvetica, arial, sans-serif;
}
body{
  display:flex;
  flex-direction:column;
  min-height:100%;
}


thead th, tfoot th {
  font-family: 'Rock Salt', cursive;
}

th {
  letter-spacing: 2px;
}

tabla td {
  letter-spacing: 1px;
  margin-left:5rem;
  align:center;
}

tbody td {
  text-align: center;
}

tfoot th {
  text-align: right;
}
thead, tfoot {
  background: url(leopardskin.jpg);
  color: white;
  text-shadow: 1px 1px 1px black;
}

thead th, tfoot th, tfoot td {
  background: linear-gradient(to bottom, rgba(0,0,0,0.1), rgba(0,0,0,0.5));
  border: 3px solid white;
}
tbody tr:nth-child(odd) {
  background-color: white;
}

tbody tr:nth-child(even) {
  background-color: #e495e4;
}

tbody tr {
  background-image: url(noise.png);
}

table {
  background-color: gray;
}
caption {
  font-family: 'Rock Salt', cursive;
  padding: 10px;
  font-style: italic;
  caption-side: bottom;
  color: #666;
  text-align: right;
  letter-spacing: 1px;
}
table button.danger{
          background-color: var(--rojo);
          color: white;
          padding: .5rem 0;
          border-radius: .3rem;
          font-size: 1rem;
          font-weight: 400;
          height:2rem;
          width:2rem;
          text-align:center;

      }
      table button.danger icon{
        align:center;
      }
      table td button.danger{
      margin-left:25px;
       align:center;
      }
 table button.info{
  background:	#87CEEB;
  height:2rem;
  width:2rem;

 }
 section {
   margin:2rem;
 }
 .navbar ul li{
    list-style:none;
    display:inline-block;
    margin:0 20px;
    position:relative;
 }

 .navbar ul li a{
    text-decoration:none;
    color:white;
    font-family:Roboto,"sans-serif";
    font-size:1.2rem;
 }

.navbar ul li::before{
  content:"";
  height:3px;
  width:0%;
  background:yellowgreen;
  position:absolute;
  left:0;
  bottom:-12px;
  transition: 0.2s ease-out;

 }
.navbar ul li:hover:before{
    width: 100%;
 }

footer {
  background-color: #28bfa5;

margin-top:auto;
  width: 100%;
  height: 40px;
  color: white;
  text-align:center;
  padding:10px;
}
div.enlace-lista{
    margin-left:50px;
}
header.container{
    background:#28bfa5;
}
@keyframes slide {
	0% { transform: translateX(0); }
	10% { transform: translateX(0); }

	15% { transform: translateX(-100%); }
	30% { transform: translateX(-100%); }

	35% { transform: translateX(-200%); }
	50% { transform: translateX(-200%); }

	55% { transform: translateX(-300%); }
	70% { transform: translateX(-300%); }

	75% { transform: translateX(-400%); }
	90% { transform: translateX(-400%); }

	95% { transform: translateX(-500%); }
	100% { transform: translateX(-500%); }
}

* { box-sizing: border-box; }

html { scroll-behavior: smooth; }

body {
	font-family: sans-serif;
}

.wrapper {
	max-width: 1200px;
	margin: 0 auto;
}

.slider {
	position: relative;
}

.slides {
	position: relative;
	display: flex;
	overflow: hidden;
}

.slide {
	width: 100vw;
	flex-shrink: 0;
	animation-name: slide;
	animation-duration: 20s;
	animation-iteration-count: infinite;
	animation-timing-function: linear;
}

.slides:hover .slide {
	animation-play-state: paused;
}

.slide img {
	width: 100%;
	vertical-align: top;
}

.slide a {
	width: 100%;
	display: inline-block;
	position: relative;
}

.caption {
	color: white;
	text-shadow: 1px 1px black;
	font-size: 8vw;
	position: absolute;
	bottom: 8vw;
	right: 4vw;
}

.slide:target {
	animation-name: none;
	position: absolute;
	left: 0;
	top: 0;
	right: 0;
	bottom: 0;
	z-index: 50;
}

.slider-controler {
	position: absolute;
	left: 0;
	right: 0;
	bottom: 0;
	text-align: center;
	padding: 5px;
	background-color: rgba(0,0,0,0.5);
	z-index: 100;
}

.slider-controler li {
	margin: 0 0.5rem;
	display: inline-block;
	vertical-align: top;
}

.slider-controler a {
	display: inline-block;
	vertical-align: top;
	text-decoration: none;
	color: white;
	font-size: 1.5rem;
}

@media only screen and (min-width: 1200px) {
	.slide {
		width: 600px;
	}

	.caption {
		font-size: 96px;
		bottom: 96px;
		right: 50px;
	}
}

