# Empty CSS file for your own CSS
.dark{
background:#000000;
}
.abs-center {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}

.form {
  width: 450px;
}
a:hover {
  color: orange;
}